textarea {
    min-height: 300px;
}

.email:hover{
    box-shadow: 0 0 0.1rem #666 inset;
    border: none;
}

.email{
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.timestamp{
    color: rgba(0,0,0,0.5);
}
